@tailwind base;
@tailwind components;
@tailwind utilities;

.wallet-adapter-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1f2e;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #303542;
}

.section1 {
  background-image: url("/images/backgroundindex.png");
  background-position: top;
  background-size: cover;
}

.section2 {
  background-image: url("/images/solana-background.png");
  background-position: top;
  background-size: cover;
}

.section3 {
  background-image: url("/images/footer.png");
  background-position: top;
  background-size: cover;
}
